pipeline-factory/src/pipeline_factory/templates/statemachines/standard-batch.json.j2
{
  "Comment": "{{ model.name }}@{{ model.version }} — standard-batch tier",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Task",
      "Resource": "${ValidateInputLambdaArn}",
      "Parameters": {
        "modelName": "{{ model.name }}",
        "modelVersion": "{{ model.version }}",
        "inputSchemaRef": "{{ model.input_schema_ref }}"
      },
      "Retry": [
        { "ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 4, "MaxAttempts": 3, "BackoffRate": 2 }
      ],
      "Catch": [
        { "ErrorEquals": ["States.ALL"], "Next": "NotifyFailure", "ResultPath": "$.error" }
      ],
      "Next": "DataQuality"
    },
    "DataQuality": {
      "Type": "Task",
      "Resource": "${GreatExpectationsRunnerArn}",
      "Parameters": {
        "modelName": "{{ model.name }}",
        "modelVersion": "{{ model.version }}"
      },
      "Catch": [
        { "ErrorEquals": ["States.ALL"], "Next": "NotifyFailure", "ResultPath": "$.error" }
      ],
      "Next": "Score"
    },
    "Score": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTransformJob.sync",
      "Parameters": {
        "TransformJobName.$": "States.Format('{{ model.name }}-{{ model.version }}-{}', $$.Execution.Name)",
        "ModelName": "{{ model.name }}",
        "TransformInput": {
          "DataSource": { "S3DataSource": { "S3DataType": "S3Prefix", "S3Uri.$": "$.inputUri" } }
        },
        "TransformOutput": { "S3OutputPath.$": "$.outputUri" },
        "TransformResources": { "InstanceType": "ml.m5.xlarge", "InstanceCount": 1 }
      },
      "Catch": [
        { "ErrorEquals": ["States.ALL"], "Next": "NotifyFailure", "ResultPath": "$.error" }
      ],
      "Next": "WriteOutput"
    },
    "WriteOutput": {
      "Type": "Task",
      "Resource": "${WriteOutputLambdaArn}",
      "Parameters": {
        "outputSchemaRef": "{{ model.output_schema_ref }}",
        "outputUri.$": "$.outputUri"
      },
      "Next": "PIRVariance"
    },
    "PIRVariance": {
      "Type": "Task",
      "Resource": "${PirCheckerArn}",
      "Parameters": {
        "modelName": "{{ model.name }}",
        "modelVersion": "{{ model.version }}",
        "pirDocRef": "{{ model.pir_doc_ref }}",
        "scoreUri.$": "$.outputUri"
      },
      "Next": "VarianceDecision"
    },
    "VarianceDecision": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.varianceWithinThreshold", "BooleanEquals": true, "Next": "Notify" }
      ],
      "Default": "BlockDelivery"
    },
    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${NotifyTopicArn}",
        "Message.$": "$"
      },
      "End": true
    },
    "BlockDelivery": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${NotifyTopicArn}",
        "Message": {
          "status": "BLOCKED",
          "reason": "PIR variance exceeded threshold",
          "modelName": "{{ model.name }}",
          "modelVersion": "{{ model.version }}"
        }
      },
      "End": true
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${NotifyTopicArn}",
        "Message": {
          "status": "FAILED",
          "modelName": "{{ model.name }}",
          "modelVersion": "{{ model.version }}",
          "error.$": "$.error"
        }
      },
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail",
      "Cause": "Pipeline failed; see audit log"
    }
  }
}
